@model Web_todo.Models.ToDoModel
@{
    ViewData["Title"] = "Manage To-Do";
}



@using (var form = Html.BeginForm("Create", "Home", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.Id)
    <div class="form-group">
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Enter ToDo Title" })
        <div class="input-group-append">
            @Html.TextBoxFor(model => model.ToDoDate,
            new { @class = "form-control", @type = "date" })
        </div>
        <div>
            <button type="submit" class="btn btn-success">Add</button>
        </div>
    </div>
    @Html.ValidationSummary()
}

